.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.slide-bar { 
    width: 600px;
    height: 10px;
    background-color: white;
    border: 1px solid black;
    margin-top: 50px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
    left: 0px;
}

.slide-button {
    width: 30px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    border-radius: 50%;
    position: absolute;
    /* bottom: -7.5px; */
    z-index: 2;
    background-color: #ce7b7b;
    left: 0px;
}

.start {
    position: absolute;
    background-color: white;
    bottom: 15px;
    border: 1px solid black;
    visibility: hidden;
}

.changed-color {
    height: 100%;
    position: relative;
    border-radius: 10px;
    background-color: red;
    width: 0px;
}

.getValues,
.initial,
.last {
    margin: 20px;
}